<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alexa.centreforinternationalrelationsuab">

    <!-- ****** Permissions ****** -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SliderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".TermsOfUse"
            android:label="@string/terms_of_use"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.UserWelcome"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".user.UserAuthentication"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".user.UserForgotPassword"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".user.UserRegister"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".user.SelectAccountType"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".user.UserProfile"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!-- To use the crop function add the next activity -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main_international_students"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainErasmus"
            android:label="@string/title_activity_main_erasmus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainErasmusAcademic"
            android:label="@string/title_activity_main_erasmus_academic"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".university.AcademicCalendar" />
        <activity android:name=".university.CourseCatalog" />
        <activity android:name=".university.Contact" />
        <activity android:name=".university.GradingSystem"/>
        <activity android:name=".university.RelIntDescription" />
        <activity
            android:name=".others.main.Travel"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".others.main.OVisaReq" />
        <activity android:name=".others.main.OUsefulInfo" />
        <activity android:name=".others.secondary.OUsefulInfoPosta"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".others.secondary.OUsefulInfoTelekom"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".others.secondary.OUsefulInfoOrange"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".others.secondary.OUsefulInfoVodafone"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".others.main.OArrivingInAlba" />
        <activity android:name=".others.secondary.OArrivingInAlbaTrains" />
        <activity android:name=".others.secondary.OArrivingInAlbaAutogari" />
        <activity android:name=".others.secondary.OArrivingInAlbaAirBuc" />
        <activity android:name=".others.secondary.OArrivingInAlbaAirSibiu" />
        <activity android:name=".others.secondary.OArrivingInAlbaAirCluj" />
        <activity android:name=".others.secondary.OArrivingInAlbaAirTim" />
        <activity android:name=".university.Services"
            android:label="Services"/>
    </application>

</manifest>